<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf=8">
    <title>Property World</title>
    <link href="style.css" rel="stylesheet">
  </head>
  <body>
    <div class="splash">
      <div class="sec1"><header>
        <h1>Welcome to Property World</h1>
      </header>

        <div id="hmenu">
        <ul>
          <li><a href="signup.html">Rate Property</a></li>
          <li><a href="landLordSU.html">I'm a landlord</a></li>
        </ul>  
        </div>

      <%= form_tag(properties_path, :method => "get", id: "search-form") do %>
        <%= text_field_tag :search, params[:search], placeholder: "Search Properties" %>
        <%= submit_tag "Search" %>
        
      <% end %>
      <div class="latest">
        <h3>Most Recently Reviewed Properties</h3>
        <table>
          <thead>
            <tr>
              <th>Address</th>
              <th>Average Rating</th>
            </tr>
          </thead>  
          <tbody>
            <% @properties.each do |property|%>
              <tr>
                <td><%= property.address %></td>
                <td><%= property.average_rating.last(10).round(2) %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
      </div>
    </div>
  </body>

</html>