<%= form_for(@property) do |f| %>
  <% if @property.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@property.errors.count, "error") %> prohibited this property from being saved:</h2>

      <ul>
      <% @property.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :address %><br>
    <%= f.text_field :address, :required => true %>
  </div>
  <div class="field">
    <%= f.label :apt %><br>
    <%= f.text_field :apt %>
  </div>
  <div class="field">
    <%= f.label :city %><br>
    <%= f.text_field :city, :required => true %>
  </div>
  <div class="field">
    <%= f.label :state %><br>
    <%= f.text_field :state, :required => true%>
  </div>
  <div class="field">
    <%= f.label :zip %><br>
    <%= f.text_field :zip, :required => true%>
  </div>
  <div class="field">
    <%= f.label :Number_of_rooms %><br>
    <%= f.text_field :rooms%>
  </div>
  <div class="field">
    <%= f.label :Rent %><br>
    <%= f.text_field :rent%>
  </div>
  <div class="field">
    <%= f.label :Utility_cost %><br>
    <%= f.text_field :utilities%>
  </div>
  <div class="field">
    <%= f.label :Pets_Allowed %><br>
    <%= radio_button_tag(:pets, "yes") %>
    <%= label_tag(:yes, "Yes") %>
    <%= radio_button_tag(:pets, "no") %>
    <%= label_tag(:no, "No") %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
