<%= form_for(@property) do |f| %>
  <% if @property.errors.any? %>
    <div id="error_explanation">
      <h2>Property already exists in database</h2>
      <ul>
        <li><%=link_to 'Click here to return to homepage to search for the property', controller: 'home', action: 'index' %></li>
      </ul>
    </div>
  <% end %>
  <div id="text_fields">
    <div class="field">
      <%= f.label :address %>
      <%= f.text_field :address, :required => true %>
    </div>
    <div class="field">
      <%= f.label :apt %>
      <%= f.text_field :apt %>
    </div>
    <div class="field">
      <%= f.label :city %>
      <%= f.text_field :city, :required => true %>
    </div>
    <div class="field">
      <%= f.label :state %>
      <%= f.text_field :state, :required => true%>
    </div>
    <div class="field">
      <%= f.label :zip %>
      <%= f.text_field :zip, :required => true%>
    </div>
    <div class="field">
      <%= f.label :Bedroom_count %>
      <%= f.text_field :rooms%>
    </div>
    <div class="field">
      <%= f.label :Rent %>
      <%= f.text_field :rent%>
    </div>
    <div class="field">
      <%= f.label :Utility_cost %>
      <%= f.text_field :utilities%>
    </div>
  </div>
  <div class="option">
    <%= f.label :Pets_Allowed %>
    <%= radio_button_tag(:pets, "yes") %>
    <%= label_tag(:yes, "Yes") %>
    <%= radio_button_tag(:pets, "no") %>
    <%= label_tag(:no, "No") %>
  </div>
  <br>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
