
<p id="notice"><%= notice %></p>

<header>
  <h1>Listing Properties</h1>
</header>
<% if @properties.blank? %>
  <p>There are no posts containing the term(s) <%= params[:search] %>.</p>
  <p>Click new property to add</p>
<% else %>
  


<table>
  <thead>
    <tr>
      <th>Address</th>
      <th>Average Rating</th>
    </tr>
  </thead>

  <tbody id="properties">
    <% @properties.each do |property| %>
      <tr>
        <td><%= link_to property.full_address, property %></td>
        <td><%= property.average_rating.round(2) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<% end %>
<%= link_to 'New Property', new_property_path %>

