
<p id="notice"><%= notice %></p>

<h1>Listing Properties</h1>

<table>
  <thead>
    <tr>
      <th>Address</th>
      <th>Apt</th>
      <th>City</th>
      <th>State</th>
      <th>Zip</th>
      <th colspan="15"></th>
    </tr>
  </thead>

  <tbody id="properties">
    <% @properties.each do |property| %>
      <tr>
        <td><%= property.address %></td>
        <td><%= property.apt %></td>
        <td><%= property.city %></td>
        <td><%= property.state %></td>
        <td><%= property.zip %></td>
      
        <td><%= link_to 'Browse Reviews', property %></td>
        
 
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Property', new_property_path %>

