<p id="notice"><%= notice %></p>

<p>
  <strong>Address:</strong>
  <%= @property.address %>
</p>

<h2>Reviews</h2>
<%= render @property.reviews %>

<h2>Add a review:</h2>
<%= render "reviews/form" %>

<%= link_to 'Edit', edit_property_path(@property) %> |
<%= link_to 'Back', properties_path %>
