<p id="notice"><%= notice %></p>

<header>
  <strong>Address:</strong>
  <%= @property.address %>
</header>

<h2>Reviews</h2>
<%= render @property.reviews.order("created_at desc") %>

<h2>Add a review:</h2>
<%= render "reviews/form" %>

<%= link_to 'Edit', edit_property_path(@property) %> |
<%= link_to 'Back', properties_path %>
