<p id="notice"><%= notice %></p>

<header id="address_header">
  <%= @property.address %> <%= @property.apt %>
  <br>
  <%= @property.city %> <%= @property.state %> <%= @property.zip %>
</header>

<div id="review_content">
<h2>Reviews</h2>
<%= render @property.reviews.order("created_at desc") %>


<h4>Add a review:</h4>
<%= render "reviews/form" %>

<%= link_to 'Back', properties_path %>
</div>
