<%= form_for([@property, @review, @review.comments.build]) do |f| %>
  <div id="text_fields"> 
    <div class="field">
      <%= f.label :commenter %>
      <%= f.text_field :commenter %>
    </div>
    <div class="field">
      <%= f.label :comment %>
      <%= f.text_area :body, :required => true %>
    </div>
  </div>
  <br>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>