<!DOCTYPE html>
<html>
  <head>
    <title>PropertyRating</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= csrf_meta_tags %>
  </head>
  <body>
    <div id="wrapper">
      <nav>
        <div id="login">
          <% if current_user %>
            <%= link_to "Sign out",  destroy_user_session_path, :method => :delete %>
          <% else %>
            <%= link_to "Sign in with Facebook", "/users/auth/facebook", id: "sign_in" %>
          <% end %>
        </div>
        <%=link_to 'Home', root_path %>
        |
        <%=link_to link_to 'View All Properties', properties_url %>
      </nav>
      <%= yield %>
    </div> <!-- end of "wrapper" div -->
  </body>
</html>
