<!DOCTYPE html>
<html>
  <head>
    <title>PropertyRating</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <div id="wrapper">
      <nav>
        <%=link_to 'Home', controller: 'home', action: 'index' %>
        <%=link_to 'About', controller: 'home', action: 'about' %>
        <%=link_to link_to 'View All Properties', properties_url %>
      </nav>
      <%= yield %>
    </div> <!-- end of "wrapper" div -->
  </body>
</html>
