<%= form_for([@property, @property.reviews.build]) do |f| %>
  <div id="text_fields">
    <div class="field">
      <%= f.label :rating %>
      <%= f.text_field :rating %>
    </div>
    <div class="field">
      <%= f.label :explanation %>
      <%= f.text_area :explanation %>
    </div>
  </div>
  <br>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>